body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:black;
  font-size: 18px;
  background-image: url("sickdancefloor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: black;
}
.title{
  background-color: black;
}
.dancer{
  /* border:200px solid white;
  border-radius:10px; */
  height: 200px;
  width: 200px;
  position:absolute;
  display: none;
  background-image: url("dafffthead.png");
  background-repeat: no-repeat;
}
.squareDancer:hover{
  background-image: url("daftpunch.png");
}

.title, .addSquareDancerButton{
  padding:5px 12p;
  float:right;
}
.squareDancer{
  /* border:10px solid teal;
  border-radius:10px;
  position:absolute; */
  height: 300px;
  width: 300px;
  margin: 0 auto;
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  display: inline;
  background-image: url('dafffthead2.png');
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes stretch {
  0% {
    transform: scale(.3);
    /* background-color: red; */
    border-radius: 10%;
  }
  50% {
    /* background-color: orange; */
  }
  100% {
    transform: scale(1.5);
    /* background-color: yellow; */
  }
}

.title, .addLineupButton{
  padding:5px 12px;
  float:right;
}

.title, .punch{
  padding:5px 12px;
  float:right;
}